<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbOF37DOVLL6AB3cRTJ2gFx6P8wPRMoBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1038397616953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olmezsesmustafa.Socinfo</string>
	<key>PROJECT_ID</key>
	<string>socinfo-54071</string>
	<key>STORAGE_BUCKET</key>
	<string>socinfo-54071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038397616953:ios:0e1de9a15d68b78e34eee8</string>
</dict>
</plist>